<div class="data-table-container">
  <table class="data-table" cellspacing="0">
    <tbody>
      <tr>
        {{#editable}}<td class="column-header"></td>{{/editable}}
        {{#headers}}
          <td class="column-header {{state}}">
            <div class="column-header-title {{state}}">
              {{#editable}}<a class="column-header-menu"></a>{{/editable}}
              <span class="column-header-name{{^editable}} slim{{/editable}}">{{header}}</span>
            </div>
          </td>
        {{/headers}}
      </tr>
      {{#rows}}
        <tr data-id="{{id}}">
          {{#editable}}<td><a class="row-header-menu"></a></td>{{/editable}}
          {{#cells}}
          <td data-header="{{header}}" class="{{state}}">
            <div class="data-table-cell-content {{state}}">
              {{#editable}}<a href="javascript:{}" class="data-table-cell-edit" title="Edit this cell">&nbsp;</a>{{/editable}}
              <div class="data-table-cell-value {{state}}">{{value}}</div>
            </div>
          </td>
          {{/cells}}
        </tr>
      {{/rows}}
      {{^rows}}
        <!-- show nothing -->
      {{/rows}}
    </tbody>
  </table>
</div>